# Environment variables declared in this file are automatically made available to Prisma.
NODE_ENV=development
# Make sure you include sslmode=verify-full at the end and pool=true both as search params
DATABASE_URL="postgres://username:password@system:port?sslmode=verify-full&pool=true" // use this for direct database access

# Auth.js / NextAuth
AUTH_SECRET="your_auth_secret"
AUTH_GOOGLE_ID="your_google_client_id"
AUTH_GOOGLE_SECRET="your_google_client_secret"

IMAGEKIT_PRIVATE_KEY='private_key here
IMAGEKIT_PUBLIC_KEY='public_key here
# NEXT_PRIVATE_DEBUG_CACHE=1
